body {
    background: linear-gradient(to bottom, #ff71ce, #1c687a, #05ffa1);
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 25px;
    min-height: 100vh; /*added due to clipping from switching gradient from 'left' to 'bottom'*/
}

h1 {
    text-shadow: 4px 4px #000000;
    font-size: 32px;
}

h2 {
    text-shadow: 2px 2px #000000;
    font-size: 25px;
}

p,
button,
input {
    text-shadow: 1px 1px #000000;
    font-size: 25px;
}

#start,
#save-score-form button {
    background: #fe53bb;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 12px auto;
}

#start:hover,
#save-score-form button:hover {
    background: #47d5f5;
    color: #f791ce;
}

#choices {
    margin: 24px 0;
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
}

.choice {
    background: #01cdfe;
    color: #ffffff;
    margin: 8px 0;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.choice:hover {
    background: #f3e6e8;
    color: #01cdfe;
}

#result-container {
    margin-top: 24px;
}

#score-container {
    background: #d99cf563;
    padding: 24px;
    border-radius: 12px;
    margin-top: 24px;
}

#score-container #highscores {
    padding: 0;
    list-style-type: none;
}

#score-container #highscores li {
    border-bottom: 1px solid #ffffff;
    padding: 12px 0;
}

#initials {
    /* Does not look good for initials */
    text-shadow: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.choice:not(:last-child) {
    margin-bottom: 8px;
}
